
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
   <nav>
        
        <div class ="Nav-bar-container">
            <h1 id="main-app-name">Werner's Weather Watch</h1>
            <ul class ="Nav-bar">
                <li class="li"><a href="/">Home</a></li>
                <li class="li"><a href="/about">About</a></li>
                <li class="li"><a href="/manchester">Steel city</a></li>
            
            </ul>
        </div>
       
    </nav>
