<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    
    <title>Document</title>
</head>
<body>
     {{>Nav}}
     <div class="about-title-container">
         <h2 class="About-title">About Werner's Weather Watch</h2>
    </div>
    <div class="safety-results-container">
        <h3 class="safety-title">Impresive safety results</h3>
        <p class="about-paragraph-one">Using our weather app has improved safety for literally 1 person, Tom Werner. <br>
            We have achieved this stagering safety record by leveraging the use of digital influencers to come to our aid in promoting this life altering weather watch site.</p>
    </div>
    <div class="about-paragraph-container">
        <h3 class="dev-team-title">The development team</h3>
        <p class="about-paragraph-one">Werner's Weather Watch, is an independently owned weather app that serves the needs of the World Wide Weather Watching community who are digitaly enabled</p>
        <p class="about-paragraph-one">Designed and developed by Tom Werner and student of CodeNation</p><br>
        <p class="about-paragraph-one"></p>
    </div>
        
        
        <script src="/js/main.js"></script>
</body>
</html>