body{
   
}
/* <----- steel city (manchester hbs)-----> */

.steel-city-page-title,.mini-steel-city-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: steelblue;
}
.average-daily-temp{
    
    display: flex;
    flex-direction: row;
}
.daily-container{
    width: 50px;
    display: inline-flex;
}


